html, body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
}

#App {
  min-height: 100vh;
}

.navibar {
  background-color: #e34172 !important;
}

.img-header {
  width: auto;
}

.navlink-one-side-border {
  border-right: white 1px solid;
}

.navlink-one-side-border:hover {
  color: lightgray !important;
}

@media only screen and (max-width: 990px) {
  .navlink-one-side-border {
    border-right: gray 0px solid;
    margin-top: 10px;
  }
}

.navbar-toggler {
  border: transparent 0px solid !important;
  padding: 0px !important;
}

.navbar-toggler-icon {
  height: 45px !important;
  width: 45px !important;
}

.rounded-custom {
  border-radius: 35px !important;
}

.foot {
  background-color: #3c4f9c !important;
}

.foot-link {
  color: lightgray;
}

.foot-link:hover {
  color: white;
}

.category-card-local {
  background-color: #59d36b;
}

.category-card-nomad {
  background-color: #f27db2;
}

.categories-div {
  background-color: #3791e1;
}

.btn-category {
  width: 180px !important;
}